* {
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}
.cat {
    height: 100vh;
    background-image: url('cat.jpg');
    background-size: cover;
    background-position: center;
}

.small {
    color: #C08287;
    font-size: 30px;
}

.big {
    color: #C08287;
    font-size: 150px;
}

.text {
    background-image: url('clothes.webp');
    background-size: cover;
    background-position: cover;
    border-radius: 250px;
    opacity: 0.6;
    box-sizing: border-box;
    width: 560px;
    height: 570px;
    margin-left: 660px;
    padding-top: 230px;
}

.button {
    display: block;
    box-sizing: border-box;
    margin-left: 70px;
    text-decoration: none;
    background-color: #C08287;
    color: #FFB2BD;
    width: 350px;
    height: 80px;
    font-size: 60px;
    border: 3px solid #C08287;
    border-radius: 30px;
}

.button:hover {
    background-color: transparent;
    color: #C08287;
}